In [2]:
import pandas as pd

In [3]:
transactions_curated = pd.read_csv('C:/Users/DSHA-EXT/Desktop/Dubai Land Data/Python_Output_4_final_lat_long.csv')

In [4]:
transactions_curated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1427477 entries, 0 to 1427476
Data columns (total 50 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1427477 non-null  int64
 1   transaction_id        1427477 non-null  object
 2   procedure_id          1427477 non-null  int64
 3   trans_group_id        1427477 non-null  int64
 4   trans_group_ar        1427477 non-null  object
 5   trans_group_en        1427477 non-null  object
 6   procedure_name_ar     1427477 non-null  object
 7   procedure_name_en     1427477 non-null  object
 8   instance_date         1427477 non-null  object
 9   property_type_id      1427477 non-null  int64
 10  property_type_ar      1427477 non-null  object
 11  property_type_en      1427477 non-null  object
 12  property_sub_type_id  1124948 non-null  float64
 13  property_sub_type_ar  1124948 non-null  object
 14  property_sub_type_en  1124948 non-null  object
 15  property_usage_ar     1427477 non-null  object
 16  property_usage_en     1427477 non-null  object
 17  reg_type_id           1427477 non-null  int64
 18  reg_type_ar           1427477 non-null  object
 19  reg_type_en           1427477 non-null  object
 20  area_id               1427477 non-null  int64
 21  area_name_ar_x        1427477 non-null  object
 22  area_name_en          1427477 non-null  object
 23  building_name_ar      997635 non-null   object
 24  building_name_en      998076 non-null   object
 25  project_number        997496 non-null   float64
 26  project_name_ar       997496 non-null   object
 27  project_name_en       997496 non-null   object
 28  master_project_en     1213252 non-null  object
 29  master_project_ar     1213200 non-null  object
 30  nearest_landmark_ar   1186001 non-null  object
 31  nearest_landmark_en   1186001 non-null  object
 32  nearest_metro_ar      1033249 non-null  object
 33  nearest_metro_en      1033249 non-null  object
 34  nearest_mall_ar       1026471 non-null  object
 35  nearest_mall_en       1026471 non-null  object
 36  rooms_ar              1105101 non-null  object
 37  rooms_en              1105101 non-null  object
 38  has_parking           1427477 non-null  int64
 39  procedure_area        1427477 non-null  float64
 40  actual_worth          1427477 non-null  float64
 41  meter_sale_price      1427477 non-null  float64
 42  rent_value            35573 non-null    float64
 43  meter_rent_price      35573 non-null    float64
 44  no_of_parties_role_1  1426548 non-null  float64
 45  no_of_parties_role_2  1426548 non-null  float64
 46  no_of_parties_role_3  1426548 non-null  float64
 47  Area Name             1410722 non-null  object
 48  Latitude              1422113 non-null  float64
 49  Longitude             1422115 non-null  float64
dtypes: float64(12), int64(7), object(31)
memory usage: 544.5+ MB

In [66]:
area = transactions_curated[['area_name_en','Area Name','Latitude','Longitude']].drop_duplicates()

In [67]:
len(area)

256

In [68]:
area.info()

<class 'pandas.core.frame.DataFrame'>
Index: 256 entries, 0 to 1382084
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_name_en  256 non-null    object
 1   Area Name     142 non-null    object
 2   Latitude      237 non-null    float64
 3   Longitude     238 non-null    float64
dtypes: float64(2), object(2)
memory usage: 10.0+ KB

In [7]:
area.head()

        area_name_en         Area Name   Latitude  Longitude
0           Mankhool          Mankhool  25.251801  55.297775
1         Al Hudaiba               NaN  25.242833  55.279212
2            Al Bada           Al Bada  25.224626  55.268483
6          Al Karama         Al Karama  25.248214  55.305061
14  Al Suq Al Kabeer  Al Suq Al Kabeer  25.262046  55.293631

In [31]:
## Read and Join with Communities Shape File

In [69]:
import geopandas as gpd
from shapely.geometry import Point

# Convert area df with lat/lon to a GeoDataFrame
area['geometry'] = area.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
gdf_areas = gpd.GeoDataFrame(area, geometry='geometry', crs='EPSG:4326')

In [70]:
import geopandas as gpd

# Load the shapefile
gdf_communities = gpd.read_file("C:/Users/DSHA-EXT/Desktop/Dubai Land Data/GIS/Community.kml")

# Display the first few rows
gdf_communities.head(100)

,Name,Description,geometry
0,MADINAT AL MATAAR,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.182 24.96444 0, 55.18101 ..."
1,AL QOUZ IND.SECOND,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.25399 25.14419 0, 55.2537..."
2,UMM RAMOOL,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.37672 25.23758 0, 55.3756..."
3,AL WARQA'A FOURTH,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.4402 25.20195 0, 55.4401 ..."
4,ALEYAS,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.55634 25.22766 0, 55.5536..."
...,...,...,...
95,NADD AL SHIBA SECOND,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.33248 25.16964 0, 55.3311..."
96,AL YALAYIS 4,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.33949 24.96624 0, 55.3382..."
97,NADD AL SHIBA FIRST,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.30315 25.12807 0, 55.3035..."
98,AL MARMOOM,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.47364 24.99372 0, 55.4731..."
99,AL MURAQQABAT,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.32961 25.26404 0, 55.3297..."

In [71]:
gdf_communities['Description'][0]

'<html xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:msxsl="urn:schemas-microsoft-com:xslt"> <head> <META http-equiv="Content-Type" content="text/html"> <meta http-equiv="content-type" content="text/html; charset=UTF-8"> </head> <body style="margin:0px 0px 0px 0px;overflow:auto;background:#FFFFFF;"> <table style="font-family:Arial,Verdana,Times;font-size:12px;text-align:left;width:100%;border-collapse:collapse;padding:3px 3px 3px 3px"> <tr style="text-align:center;font-weight:bold;background:#9CBCE2"> <td>MADINAT AL MATAAR</td> </tr> <tr> <td> <table style="font-family:Arial,Verdana,Times;font-size:12px;text-align:left;width:100%;border-spacing:0px; padding:3px 3px 3px 3px"> <tr> <td>FID</td> <td>0</td> </tr> <tr bgcolor="#D4E4F3"> <td>CNAME_E</td> <td>MADINAT AL MATAAR</td> </tr> <tr> <td>CNAME_A</td> <td>مدينة المطار</td> </tr> <tr bgcolor="#D4E4F3"> <td>LABEL_E</td> <td>MADINAT AL MATAAR</td> </tr> <tr> <td>LABEL_A</td> <td>مدينة المطار</td> </tr> <tr bgcolor="#D4E4F3"> <td>C_PREFIX_E</td> <td>Community:</td> </tr> <tr> <td>C_PREFIX_A</td> <td>:???????</td> </tr> <tr bgcolor="#D4E4F3"> <td>COMMUNITY_</td> <td>MADINAT AL MATAAR - 521</td> </tr> <tr> <td>COMMUNITY1</td> <td>مدينة المطار - 521</td> </tr> <tr bgcolor="#D4E4F3"> <td>DGIS_ID</td> <td>0000172</td> </tr> <tr> <td>COMM_NUM</td> <td>521</td> </tr> <tr bgcolor="#D4E4F3"> <td>NDGIS_ID</td> <td>172</td> </tr> <tr> <td>SHAPE_AREA</td> <td>141835173.573</td> </tr> <tr bgcolor="#D4E4F3"> <td>SHAPE_LEN</td> <td>49060.532273</td> </tr> </table> </td> </tr> </table> </body><script type="text/javascript"> function changeImage(attElement, nameElement) { document.getElementById(\'imageAttachment\').src = attElement; document.getElementById(\'imageName\').innerHTML = nameElement;} </script></html>'

In [72]:
# Ensure community shapefile is also in EPSG:4326 (WGS84)
gdf_communities = gdf_communities.to_crs('EPSG:4326')

In [92]:
import re

In [93]:
# Define a function to extract community number using regex
def extract_community_number(description):
    match = re.search(r'<td>COMM_NUM</td>\s*<td>(\d+)</td>', description)
    if match:
        return match.group(1)
    return None

# Apply the function to create a new column 'community_number'
gdf_communities['community_number'] = gdf_communities['Description'].apply(extract_community_number)

In [73]:
# # Spatial join
# gdf_joined = gpd.sjoin(gdf_areas, gdf_communities, how='left', predicate='within')

# # Check the result
# gdf_joined[['area_name_en', 'Name', 'Description']].head()

In [74]:
# len(gdf_joined)

In [75]:
# gdf_joined = gdf_joined[['area_name_en','Area Name','Latitude','Longitude','Name']]

In [76]:
# Area_and_Communities = gdf_joined.rename(columns={'Name':'Community'})

In [77]:
# Area_and_Communities.head()

In [30]:
# Area_and_Communities.to_excel('C:/Users/DSHA-EXT/Desktop/Dubai Land Data/Python Output/Intermediate/Area and Communities.xlsx')

In [32]:
## Read and Join with Sector Shape File

In [78]:
import geopandas as gpd

# Load the shapefile
gdf_sectors = gpd.read_file("C:/Users/DSHA-EXT/Desktop/Dubai Land Data/GIS/Sectors.kml")

# Display the first few rows
gdf_sectors.head(100)

,Name,Description,geometry
0,600,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.45004 25.16994 0, 55.4489..."
1,200,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.40055 25.29699 0, 55.3995..."
2,700,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.6344 25.18606 0, 55.63307..."
3,800,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.46006 25.16804 0, 55.4598..."
4,900,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.35831 24.62655 0, 55.4096..."
5,100,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.29488 25.35791 0, 55.2860..."
6,500,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.01075 25.15267 0, 55.0046..."
7,400,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.30923 25.19628 0, 55.3092..."
8,300,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (EMPTY, EMPTY, ((55.17465 25.18..."

In [79]:
gdf_sectors['Description'][0]

'<html xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:msxsl="urn:schemas-microsoft-com:xslt"> <head> <META http-equiv="Content-Type" content="text/html"> <meta http-equiv="content-type" content="text/html; charset=UTF-8"> </head> <body style="margin:0px 0px 0px 0px;overflow:auto;background:#FFFFFF;"> <table style="font-family:Arial,Verdana,Times;font-size:12px;text-align:left;width:100%;border-collapse:collapse;padding:3px 3px 3px 3px"> <tr style="text-align:center;font-weight:bold;background:#9CBCE2"> <td>600</td> </tr> <tr> <td> <table style="font-family:Arial,Verdana,Times;font-size:12px;text-align:left;width:100%;border-spacing:0px; padding:3px 3px 3px 3px"> <tr> <td>FID</td> <td>0</td> </tr> <tr bgcolor="#D4E4F3"> <td>SEC_NUM</td> <td>600</td> </tr> <tr> <td>PERIMETER</td> <td>0</td> </tr> <tr bgcolor="#D4E4F3"> <td>SHAPE_AREA</td> <td>292448366.693</td> </tr> <tr> <td>SHAPE_LEN</td> <td>86561.228856</td> </tr> </table> </td> </tr> </table> </body><script type="text/javascript"> function changeImage(attElement, nameElement) { document.getElementById(\'imageAttachment\').src = attElement; document.getElementById(\'imageName\').innerHTML = nameElement;} </script></html>'

In [80]:
gdf_sectors.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9 non-null      object
 1   Description  9 non-null      object
 2   geometry     9 non-null      geometry
dtypes: geometry(1), object(2)
memory usage: 344.0+ bytes

In [81]:
# Ensure community shapefile is also in EPSG:4326 (WGS84)
gdf_sectors = gdf_sectors.to_crs('EPSG:4326')

In [82]:
# # Convert area df with lat/lon to a GeoDataFrame
# Area_and_Communities['geometry'] = Area_and_Communities.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
# Area_and_Communities = gpd.GeoDataFrame(Area_and_Communities, geometry='geometry', crs='EPSG:4326')

In [84]:
# # Spatial join
# gdf_joined_1 = gpd.sjoin(Area_and_Communities, gdf_sectors, how='left', predicate='within')

In [85]:
# gdf_joined_1.head()

In [94]:
import geopandas as gpd

# Make sure both GeoDataFrames are in the same CRS
gdf_communities = gdf_communities.to_crs('EPSG:4326')
gdf_sectors = gdf_sectors.to_crs('EPSG:4326')

# Spatial join: assign sector to each community
gdf_communities_with_sector = gpd.sjoin(
    gdf_communities,
    gdf_sectors[['Name', 'geometry']],  # use only necessary columns
    how='left',
    predicate='within'
)

# Rename the joined sector column for clarity
gdf_communities_with_sector.rename(columns={'Name_left': 'Community_Name', 'Name_right': 'Sector_Name'}, inplace=True)

# Optional: preview the result
gdf_communities_with_sector.head(224)

,Community_Name,Description,geometry,community_number,index_right,Sector_Name
0,MADINAT AL MATAAR,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.182 24.96444 0, 55.18101 ...",521,6.0,500
1,AL QOUZ IND.SECOND,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.25399 25.14419 0, 55.2537...",365,NaN,NaN
2,UMM RAMOOL,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.37672 25.23758 0, 55.3756...",215,1.0,200
3,AL WARQA'A FOURTH,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.4402 25.20195 0, 55.4401 ...",424,7.0,400
4,ALEYAS,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.55634 25.22766 0, 55.5536...",283,1.0,200
...,...,...,...,...,...,...
219,AL QUSAIS SECOND,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.38814 25.27569 0, 55.3872...",233,1.0,200
220,JABAL ALI INDUSTRIAL THIRD,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.10391 24.91959 0, 55.0664...",516,6.0,500
221,UMM HURAIR FIRST,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.30427 25.25481 0, 55.3052...",314,NaN,NaN
222,DUBAI INVESTMENT PARK FIRST,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.18463 24.99749 0, 55.1840...",598,6.0,500
223,AL QUSAIS IND. SECOND,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTIPOLYGON Z (((55.3983 25.29 0, 55.39743 25...",243,1.0,200

In [96]:
gdf_communities_with_sector = gdf_communities_with_sector[['Community_Name','Sector_Name','geometry','community_number']]

In [97]:
# Spatial join
gdf_joined_2 = gpd.sjoin(gdf_areas, gdf_communities_with_sector, how='left', predicate='within')

# Check the result
gdf_joined_2[['area_name_en', 'Community_Name','community_number','Sector_Name']].head(200)

,area_name_en,Community_Name,community_number,Sector_Name
0,Mankhool,MANKHOOL,317,NaN
1,Al Hudaiba,AL HUDAIBA,322,NaN
2,Al Bada,AL BADA',333,NaN
6,Al Karama,AL KARAMA,318,NaN
14,Al Suq Al Kabeer,AL SOUQ AL KABEER,312,NaN
...,...,...,...,...
38703,Grayteesah,GRAYTEESAH,941,900
39137,Al-Tawar,AL TWAR FIRST,226,200
42709,Al Asbaq,NaN,NaN,NaN
44675,Al Goze Industrial Second,NaN,NaN,NaN
45046,Al Qusais Industrial Second,AL QUSAIS IND. SECOND,243,200

In [98]:
gdf_joined_2.to_excel('C:/Users/DSHA-EXT/Desktop/Dubai Land Data/Python Output/Intermediate/Area_Community_Sector.xlsx')

In [ ]:
## Post Manual Updates to the file, I am reading again and jining it back to transactions File to prepare the Master Transactions File.

In [99]:
manual_updated = pd.read_excel('C:/Users/DSHA-EXT/Desktop/Dubai Land Data/Manual Updated/Manual Updated_Area_Community_Sector.xlsx')